        <h1>BMI Calculator</h1>
        <%= simple_form_for @bmi do |f| %>
          <%= f.input :foot %>
          <%= f.input :inch %>
          <%= f.input :weight %>
          <%= f.submit %>
        <% end %>