<!DOCTYPE html>
<html>
  <head>
    <title>FitnessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <%# <div><li><%= link_to "About", about_path %></li></div> %>
      <div><li><%= link_to "BMI Calulator", body_mass_indices_path %></li></div>
      <div><li><%= link_to "Three Day Workouts", three_day_workout_path %></li></div>
      <div><li><%= link_to "Five Day Workouts", five_day_workout_path %></li></div>
    <%= yield %>
  </body>
</html>
